USE [KhoSach]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 4/22/2020 10:33:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[TenDangNhap] [varchar](50) NOT NULL,
	[MatKhau] [nvarchar](50) NULL,
 CONSTRAINT [PK_Admin] PRIMARY KEY CLUSTERED 
(
	[TenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietHoaDon]    Script Date: 4/22/2020 10:33:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHoaDon](
	[MaChiTiet] [int] NOT NULL,
	[MaHoaDon] [int] NULL,
	[MaSach] [int] NULL,
	[SoLuong] [int] NULL,
	[Gia] [bigint] NULL,
 CONSTRAINT [PK_ChiTietHoaDon] PRIMARY KEY CLUSTERED 
(
	[MaChiTiet] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhMuc]    Script Date: 4/22/2020 10:33:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhMuc](
	[MaDanhMuc] [int] IDENTITY(1,1) NOT NULL,
	[TenDanhMuc] [nvarchar](200) NULL,
 CONSTRAINT [PK_DanhMuc] PRIMARY KEY CLUSTERED 
(
	[MaDanhMuc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GioHang]    Script Date: 4/22/2020 10:33:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GioHang](
	[MaKhachHang] [int] NOT NULL,
	[MaSach] [int] NOT NULL,
	[SoLuong] [int] NULL,
	[Gia] [bigint] NULL,
 CONSTRAINT [PK_GioHang] PRIMARY KEY CLUSTERED 
(
	[MaKhachHang] ASC,
	[MaSach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 4/22/2020 10:33:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[MaHoaDon] [int] IDENTITY(1,1) NOT NULL,
	[MaKhachHang] [int] NULL,
	[TrangThai] [bit] NULL,
	[NgayLap] [smalldatetime] NULL,
	[PhuongThucThanhToan] [int] NULL,
 CONSTRAINT [PK_HoaDon] PRIMARY KEY CLUSTERED 
(
	[MaHoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 4/22/2020 10:33:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKhachHang] [int] IDENTITY(1,1) NOT NULL,
	[TenKhachHang] [nvarchar](100) NULL,
	[Email] [varchar](100) NULL,
	[SoDienThoai] [varchar](10) NULL,
	[DiaChi] [nvarchar](100) NULL,
	[NgaySinh] [smalldatetime] NULL,
	[GioiTinh] [bit] NULL,
	[MatKhau] [nvarchar](50) NULL,
	[TenDangNhap] [varchar](100) NULL,
 CONSTRAINT [PK_KhachHang] PRIMARY KEY CLUSTERED 
(
	[MaKhachHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhomTheLoai]    Script Date: 4/22/2020 10:33:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhomTheLoai](
	[MaNhomTheLoai] [int] IDENTITY(1,1) NOT NULL,
	[TenNhomTheLoai] [nvarchar](200) NULL,
	[MaDanhMuc] [int] NULL,
 CONSTRAINT [PK_NhomTheLoai] PRIMARY KEY CLUSTERED 
(
	[MaNhomTheLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sach]    Script Date: 4/22/2020 10:33:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sach](
	[MaSach] [int] IDENTITY(1,1) NOT NULL,
	[TenSach] [nvarchar](200) NULL,
	[SoLuong] [int] NULL,
	[Gia] [bigint] NULL,
	[GiaKhuyenMai] [bigint] NULL,
	[TacGia] [nvarchar](200) NULL,
	[NamXuatBan] [int] NULL,
	[NhaXuatBan] [nvarchar](200) NULL,
	[Anh] [nvarchar](300) NULL,
	[MaTheLoai] [int] NULL,
	[NgayNhap] [smalldatetime] NULL,
	[TrangThai] [bit] NULL,
	[MoTa] [text] NULL,
 CONSTRAINT [PK_Sach] PRIMARY KEY CLUSTERED 
(
	[MaSach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TheLoai]    Script Date: 4/22/2020 10:33:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TheLoai](
	[MaTheLoai] [int] IDENTITY(1,1) NOT NULL,
	[TenTheLoai] [nvarchar](200) NULL,
	[MaNhomTheLoai] [int] NULL,
 CONSTRAINT [PK_TheLoai] PRIMARY KEY CLUSTERED 
(
	[MaTheLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[ChiTietSachHoaDon]    Script Date: 4/22/2020 10:33:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[ChiTietSachHoaDon]
AS
SELECT       dbo.ChiTietHoaDon.MaChiTiet, dbo.ChiTietHoaDon.MaSach, dbo.Sach.TenSach, dbo.ChiTietHoaDon.SoLuong, dbo.ChiTietHoaDon.Gia
FROM            dbo.ChiTietHoaDon INNER JOIN
                         dbo.HoaDon ON dbo.ChiTietHoaDon.MaHoaDon = dbo.HoaDon.MaHoaDon INNER JOIN
                         dbo.Sach ON dbo.ChiTietHoaDon.MaSach = dbo.Sach.MaSach
GO
/****** Object:  View [dbo].[NhomTheLoaiDanhMuc]    Script Date: 4/22/2020 10:33:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[NhomTheLoaiDanhMuc]
AS
SELECT        dbo.DanhMuc.MaDanhMuc, dbo.DanhMuc.TenDanhMuc, dbo.NhomTheLoai.MaNhomTheLoai, dbo.NhomTheLoai.TenNhomTheLoai
FROM            dbo.DanhMuc INNER JOIN
                         dbo.NhomTheLoai ON dbo.DanhMuc.MaDanhMuc = dbo.NhomTheLoai.MaDanhMuc

GO
/****** Object:  View [dbo].[SachTheLoai]    Script Date: 4/22/2020 10:33:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[SachTheLoai]
AS
SELECT       dbo.Sach.MaSach, dbo.Sach.TenSach, dbo.Sach.SoLuong, dbo.Sach.Gia, dbo.Sach.GiaKhuyenMai, dbo.Sach.TacGia, dbo.Sach.NhaXuatBan, dbo.Sach.NamXuatBan, dbo.Sach.Anh, dbo.Sach.MaTheLoai, dbo.TheLoai.TenTheLoai, 
                         dbo.Sach.NgayNhap, dbo.Sach.TrangThai, dbo.Sach.MoTa
FROM            dbo.Sach INNER JOIN
                         dbo.TheLoai ON dbo.Sach.MaTheLoai = dbo.TheLoai.MaTheLoai
GO
/****** Object:  View [dbo].[TheLoaiNhomTheLoai]    Script Date: 4/22/2020 10:33:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[TheLoaiNhomTheLoai]
AS
SELECT        dbo.NhomTheLoai.MaNhomTheLoai, dbo.NhomTheLoai.TenNhomTheLoai, dbo.TheLoai.MaTheLoai, dbo.TheLoai.TenTheLoai
FROM            dbo.NhomTheLoai INNER JOIN
                         dbo.TheLoai ON dbo.NhomTheLoai.MaNhomTheLoai = dbo.TheLoai.MaNhomTheLoai

GO
INSERT [dbo].[Admin] ([TenDangNhap], [MatKhau]) VALUES (N'TaiTQG', N'123')
INSERT [dbo].[ChiTietHoaDon] ([MaChiTiet], [MaHoaDon], [MaSach], [SoLuong], [Gia]) VALUES (1, 1, 23, 3, 20000)
SET IDENTITY_INSERT [dbo].[DanhMuc] ON 

INSERT [dbo].[DanhMuc] ([MaDanhMuc], [TenDanhMuc]) VALUES (1, N'Sách Trong Nước')
INSERT [dbo].[DanhMuc] ([MaDanhMuc], [TenDanhMuc]) VALUES (2, N'Sách Ngoại Văn')
INSERT [dbo].[DanhMuc] ([MaDanhMuc], [TenDanhMuc]) VALUES (7, N'Sách Thiếu Nhi')
SET IDENTITY_INSERT [dbo].[DanhMuc] OFF
INSERT [dbo].[GioHang] ([MaKhachHang], [MaSach], [SoLuong], [Gia]) VALUES (9, 22, 1, 0)
INSERT [dbo].[GioHang] ([MaKhachHang], [MaSach], [SoLuong], [Gia]) VALUES (9, 23, 1, 0)
INSERT [dbo].[GioHang] ([MaKhachHang], [MaSach], [SoLuong], [Gia]) VALUES (9, 24, 5, 0)
SET IDENTITY_INSERT [dbo].[HoaDon] ON 

INSERT [dbo].[HoaDon] ([MaHoaDon], [MaKhachHang], [TrangThai], [NgayLap], [PhuongThucThanhToan]) VALUES (1, 9, 0, CAST(N'2020-04-22T00:00:00' AS SmallDateTime), 1)
SET IDENTITY_INSERT [dbo].[HoaDon] OFF
SET IDENTITY_INSERT [dbo].[KhachHang] ON 

INSERT [dbo].[KhachHang] ([MaKhachHang], [TenKhachHang], [Email], [SoDienThoai], [DiaChi], [NgaySinh], [GioiTinh], [MatKhau], [TenDangNhap]) VALUES (9, N'Nguyen Văn A', N'ANV@gmail.com', N'988878788', N'Huế', CAST(N'2020-04-20T00:00:00' AS SmallDateTime), 1, N'123', N'NguyenVanA')
SET IDENTITY_INSERT [dbo].[KhachHang] OFF
SET IDENTITY_INSERT [dbo].[NhomTheLoai] ON 

INSERT [dbo].[NhomTheLoai] ([MaNhomTheLoai], [TenNhomTheLoai], [MaDanhMuc]) VALUES (5, N'Sách Văn Học', 1)
INSERT [dbo].[NhomTheLoai] ([MaNhomTheLoai], [TenNhomTheLoai], [MaDanhMuc]) VALUES (7, N'Sách Nuôi Day Con', 1)
INSERT [dbo].[NhomTheLoai] ([MaNhomTheLoai], [TenNhomTheLoai], [MaDanhMuc]) VALUES (8, N'Sách Bí Quyết Làm Đẹp', 1)
SET IDENTITY_INSERT [dbo].[NhomTheLoai] OFF
SET IDENTITY_INSERT [dbo].[Sach] ON 

SET IDENTITY_INSERT [dbo].[Sach] OFF
SET IDENTITY_INSERT [dbo].[TheLoai] ON 

INSERT [dbo].[TheLoai] ([MaTheLoai], [TenTheLoai], [MaNhomTheLoai]) VALUES (16, N'Tiểu Thuyết', 5)
INSERT [dbo].[TheLoai] ([MaTheLoai], [TenTheLoai], [MaNhomTheLoai]) VALUES (17, N'Huyền Bí', 5)
INSERT [dbo].[TheLoai] ([MaTheLoai], [TenTheLoai], [MaNhomTheLoai]) VALUES (18, N'Giả Tưởng', 5)
SET IDENTITY_INSERT [dbo].[TheLoai] OFF
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHoaDon_HoaDon] FOREIGN KEY([MaHoaDon])
REFERENCES [dbo].[HoaDon] ([MaHoaDon])
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK_ChiTietHoaDon_HoaDon]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHoaDon_Sach] FOREIGN KEY([MaSach])
REFERENCES [dbo].[Sach] ([MaSach])
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK_ChiTietHoaDon_Sach]
GO
ALTER TABLE [dbo].[GioHang]  WITH CHECK ADD  CONSTRAINT [FK_GioHang_KhachHang] FOREIGN KEY([MaKhachHang])
REFERENCES [dbo].[KhachHang] ([MaKhachHang])
GO
ALTER TABLE [dbo].[GioHang] CHECK CONSTRAINT [FK_GioHang_KhachHang]
GO
ALTER TABLE [dbo].[GioHang]  WITH CHECK ADD  CONSTRAINT [FK_GioHang_Sach] FOREIGN KEY([MaSach])
REFERENCES [dbo].[Sach] ([MaSach])
GO
ALTER TABLE [dbo].[GioHang] CHECK CONSTRAINT [FK_GioHang_Sach]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_KhachHang] FOREIGN KEY([MaKhachHang])
REFERENCES [dbo].[KhachHang] ([MaKhachHang])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_KhachHang]
GO
ALTER TABLE [dbo].[NhomTheLoai]  WITH CHECK ADD  CONSTRAINT [FK_NhomTheLoai_DanhMuc] FOREIGN KEY([MaDanhMuc])
REFERENCES [dbo].[DanhMuc] ([MaDanhMuc])
GO
ALTER TABLE [dbo].[NhomTheLoai] CHECK CONSTRAINT [FK_NhomTheLoai_DanhMuc]
GO
ALTER TABLE [dbo].[Sach]  WITH CHECK ADD  CONSTRAINT [FK_Sach_TheLoai] FOREIGN KEY([MaTheLoai])
REFERENCES [dbo].[TheLoai] ([MaTheLoai])
GO
ALTER TABLE [dbo].[Sach] CHECK CONSTRAINT [FK_Sach_TheLoai]
GO
ALTER TABLE [dbo].[TheLoai]  WITH CHECK ADD  CONSTRAINT [FK_TheLoai_NhomTheLoai] FOREIGN KEY([MaNhomTheLoai])
REFERENCES [dbo].[NhomTheLoai] ([MaNhomTheLoai])
GO
ALTER TABLE [dbo].[TheLoai] CHECK CONSTRAINT [FK_TheLoai_NhomTheLoai]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[60] 4[26] 2[5] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "ChiTietHoaDon"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 202
               Right = 208
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "HoaDon"
            Begin Extent = 
               Top = 6
               Left = 246
               Bottom = 177
               Right = 465
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Sach"
            Begin Extent = 
               Top = 37
               Left = 608
               Bottom = 340
               Right = 786
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'ChiTietSachHoaDon'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'ChiTietSachHoaDon'
GO
